@{
    ViewBag.Title = "About";
}
<style>
    .About-Page {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }
</style>

<center>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</center>
<br />
<center>
    <div class="About-Photo">
        <img src="~/Image/Murdoch_Hospital.jpg" alt="Murdoch_Hospital_IMG" />
    </div>
</center>
<br />
<div class="About-Page">
    <div class="About-Content">
        <h2 style="text-decoration: underline;">History</h2>
        <p>
            In 1989, St John of God Health Care, in conjunction with the Sisters of St Joseph of the
            Apparition and the Sisters of Mercy in Perth, lodged a proposal
            for new private hospital facilities in the south metropolitan area of Perth.
        </p>
        <br />
        <p>The success of this proposal led to St John of God Health Care undertaking the construction of what is now St John of God Murdoch Hospital.</p>
        <br />
        <p>Staff from St Joseph’s Hospital Bicton and St John of God Rivervale transferred to St John of God Murdoch Hospital in preparation for the opening of the new hospital.</p>
        <br />
        <p>Other key staff for the development of the new hospital were recruited and appointed, starting with the founding Chief Executive Officer Bill Shields in 1991.</p>
        <br />
        <p>The site of the new hospital was blessed on 21 September 1991 and the first patients were admitted on 14 February 1994.</p>
        <br />
        <p>The vision of a unique hospital south of the river became a reality and enabled us to continue the work of St John of God and the founding sisters.</p>
        <br />
    </div>
    <center>
        <div class=row>
            <div class="About-Content-02">
                <h3 style="text-decoration: underline;">More Information About Murdoch Hospital</h3>
                <p>
                    For more information and history of Murdoch Hospital of the history and stories about it
                    <br />do click the link below.
                </p>
                <br />
                <p><a class="btn btn-default" href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/about">About Murdoch Hospital &raquo;</a></p>
            </div>
        </div>
    </center>
</div>
