@{
    ViewBag.Title = "Contact Us";
}


<style>
    .Contact-Page 
    {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }

    .Contact-List
    {
        padding-right: 45px;
    }
</style>
<div class="Contact-Page">
    <center>
        <h2>@ViewBag.Title.</h2>
        <h3 style="text-decoration: underline;">Contact us</h3>
        <br />

        <div class="Contact-Content">
            <address>
                Tel: (08) 9438 9000
                <br />
                Freecall: 1800 640 300 (country only)
                <br /> <br />
                Our main reception phone number is (08) 9438 9000.
                <br /> <br />
                Patients can phone our new patient helpline on (08) 9428 8838 to find out more about gaps and out-of-pocket expenses that relate to your health fund and which may be associated with your hospital treatment.
                <br /> <br />
                Open between 8.00am and 4.30pm weekdays.
            </address>
        </div>

        <br />
        <div class="Contact-Content-02">
            <h3 style="text-decoration: underline;">Find us</h3>
            <address>
                <br />
                <div class="Contact-List">
                    <ul style="list-style-type: none">
                        <li>Street addresses:</li>
                        <br />
                        <li>Main Hospital, Emergency and Murdoch Medical Clinic</li>
                        <li>Gate 1, Barry Marshall Parade</li>
                        <li> Murdoch WA 6150</li>
                        <br />
                        <li>Wexford Medical Centre</li>
                        <li> Gate 2, Barry Marshall Parade</li>
                        <li>Murdoch WA 6150</li>
                        <br />
                        <li> Hospice and Deliveries</li>
                        <li>Gate 3, Fiona Wood Road</li>
                        <li>Murdoch WA 6150</li>
                        <br />
                        <li>Epic Pharmacy</li>
                        <li>Gate 3, Fiona Wood Road</li>
                        <li>Murdoch WA 6150</li>
                        <br />
                        <li>MURTEC and Function Rooms</li>
                        <li>Gate 3, Fiona Wood Road</li>
                        <li>Murdoch WA 6150</li>
                    </ul>
                </div>
            </address>
        </div>

        <br />
        <h3 style="text-decoration: underline;">Our links</h3>
        <br />
        <div class="Contact-Content-03">
            <address>
                <strong>Work With Us:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/work-with-us">recruitment.hr@sjog.org.au</a><br />
                <strong>Our Facebook:</strong> <a href="https://www.facebook.com/stjohnofgodmurdoch/">Facebook</a><br />
                <strong>Murdoch Helpline:</strong> <a href="https://www.sjog.org.au/murdochhelpline">Murdoch Hospital Helpline</a>
            </address>
        </div>
    </center>
</div>