@{
    ViewBag.Title = "Home Page";
}

<style>
    .Home-Content {
        background-color: lightgrey;
        padding: 50px 100px 50px 100px;
        font-family: arial;
    }
    
    .Home-Content h1 
    {
        color: indianred;
 
    }
</style>

<div class="Home-Content" >
    <center><h1>Welcome to Murdoch Hospital</h1>
    <br />
            <h3>
                Murdoch Hospital is one of the leading private health campuses in Western Australia and a major health care hub serving the southern region.
                <br /><br />
                Our reputation for excellence in clinical care and first class tertiary level services makes us the hospital of choice for both medical professionals and patients.
            </h3>
            <br />
            <iframe width="960" height="540" src="https://www.youtube.com/embed/sIFupQUA9bg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
</div>

<br /><br />
<center>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/AboutUsIcon.png" alt="About_Us_Icon_Image" width="150" height="120" />
            <h2>About Us</h2>
            <p>
                Give you information and history of Murdoch Hospital of the history and stories about it.
            </p>
            <p><a class="btn btn-default" href="https://localhost:44399/Home/About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Image/ContactUsIcon.png" alt="Contact_Us_Icon_Image" width="150" height="120" />
            <h2>Contact</h2>
            <p>Our Murdoch Hospital Contact Page which have our contact details and visiting hour details.</p>
            <p><a class="btn btn-default" href="https://localhost:44399/Home/Contact">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Image/ServiceIcon.png" alt="Service_Icon_Image" width="150" height="120" />
            <h2>Services</h2>
            <p>Information of what kind of treatment and services we have in Murdoch Hospital</p>
            <p><a class="btn btn-default" href="https://localhost:44399/Home/Services">Learn more &raquo;</a></p>
        </div>
    </div>
</center>