
@{
    ViewBag.Title = "Services";
}

<style>
    .Services-Page {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }
</style>

<center>
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</center>
<br />
<center>
    <div class="Services-Page">
        <h1 style="text-decoration: underline;">Emergency Department</h1>
        <h2>Our Emergency Department is open 24 hours a day, 7 days a week and is easily accessible via Barry Marshall Parade.</h2>
        <h3>If you have a life-threatening medical condition, call 000 and ask for an ambulance. You can request paramedics to bring you to our hospital.</h3><br />
        <strong>Emergency Services Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/emergency-department">Emegerency Services</a>
        <br /><br />
        <h1 style="text-decoration: underline;">maternity-services</h1>
        <h3>When you choose St John of God Murdoch Hospital, you are choosing the option to have your partner stay with you overnight, a longer hospital stay, your own obstetrician, and access to breastfeeding and mental health support with us. Our maternity ward, called St Mary’s Ward, gives you access to the support and care of our midwives, nurses and experienced caregivers in our modern hospital, right in the heart of Perth’s southern suburbs</h3><br />
        <strong>Maternity Services Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/maternity-services">Maternity Services</a>
        <br /><br />
        <h1 style="text-decoration: underline;">Medical and surgical</h1>
        <h3>We offer a wide range of medical and surgical services. To find out more about each service, By browsing the link below.</h3><br />
        <strong>Medical and surgical Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/medical-and-surgical">Medical and surgical</a>
        <br /><br />
        <h1 style="text-decoration: underline;">Mental Health Services</h1>
        <h3>St John of God Murdoch Hospital is working on providing outpatient (day) services for adult patients while development of the standalone mental health facility continues.</h3><br />
        <strong>Mental Health Services Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/mental-health">Mental Health Services</a>
        <br /><br />
        <h1 style="text-decoration: underline;">Rehabilitation services</h1>
        <h3>Our rehabilitation services help you return to health and independence as soon as possible after injury, illness or surgery. To find out more, browse our services by clicking the link below.</h3><br />
        <strong>Rehabilitation services Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/rehabilitation-services">Rehabilitation services</a>
        <br /><br />
        <h1 style="text-decoration: underline;">Community and youth Services</h1>
        <h3>We provide community and youth services to people who are experiencing disadvantage to improve their health and wellbeing. Programs are available at no or low cost.</h3><br />
        <strong>Community and Youth Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/community-and-youth">Community and Youth</a>
        <br /><br />
        <h1 style="text-decoration: underline;">Home Healthcare Services</h1>
        <h3>St John of God Healthcare at Home gives you the choice to receive compassionate nursing care in the comfort of your own home, when you need it.</h3><br />
        <strong>Home Healthcare Services Link:</strong> <a href="https://www.sjog.org.au/our-locations/st-john-of-god-murdoch-hospital/our-services/home-nursing-and-care">Home Healthcare Services</a>
        <br /><br />
    </div>
</center>
